.actions {
    display: flex;
    align-items: center;

    &__item {
        width: 50px;
        justify-content: center;
    }
    &__item,
    &__menuitem {
        cursor: pointer;
        user-select: none;
        display: flex;

        align-items: center;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 50px;
        mix-blend-mode: normal;
        background: $main_color;

        &:hover {
            background: rgba(128, 128, 128);
        }
    }
    &__item,
    &__menu {
        margin-left: 8px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__menu {
        position: relative;

        &list {
            position: absolute;
            transform: translateY(-50px);
            opacity: 0;
            visibility: hidden;
            transition: 0.2s;

            &-show {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
        &item {
            margin-top: 10px;
            padding: 10px;

            &:last-child {
                margin-bottom: 10px;
            }
        }
        &icon {
            margin-right: 10px;
        }
        &title {
            white-space: nowrap;
        }
    }
}
