.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    &__dot {
        width: 20px;
        height: 20px;
        border: 1px solid #ad83f5;
        border-radius: 50%;
        cursor: pointer;

        &:hover,
        &-active {
            background: #ad83f5;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.5);
        margin-left: 10px;
    }
}
