.person {
    display: flex;
    align-items: center;
    &__image {
        margin-right: 12px;
        img {
            filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.15));
            border-radius: 12px;
            height: 49px;
            width: 49px;
            object-fit: cover;
        }
    }

    &__info {
    }

    &__info-title {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: $white_color;
        margin-bottom: 4px;
    }

    &__info-nickname {
    }
    @media (max-width: 500px) {
        &__info-title {
            font-size: 15px;
        }
    }
}
